    input {
        padding: 15px;
        margin: 10px;
    }

    span {
        color: rgb(122, 1, 1);
        padding: 3px;
        font-size: 12px;
        /* do not show error message, initially */
        display: none; 
    }

    /* displaying the error message only when input is invalid */
    input:invalid ~ span {
        display: block;
    }